<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.agricultural2.mapper.MenuMapper">

    <select id="getListDept" resultType="com.example.agricultural2.entity.Menu">
        select  * from menu where menu_id in (select  menu_id from dept_menu where dept_id = #{deptId})
    </select>
</mapper>
