<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.agricultural2.mapper.StatDao">

    <!--   主要是在主键是自增的情况下，添加成功后可以直接使用主键值，其中keyProperty的值是对象的属性值不是数据库表中的字段名-->

   <select id="getAllByCounty" parameterType="HashMap" resultType="java.util.Map">
        <if test=" checkID == 2">
            select m.machinery_no,COUNT(machinery_id) as '作业次数',SUM(work_length) as '作业里程',SUM(work_area) as '作业面积'
            from  work w,machinery m,user u where w.work_machinery_id=m.machinery_id
            and u.user_id = m.machinery_owner and u.dept_id = #{deptId} and m.machinery_type = #{dictId}
            <if test="workStartTime != null">
                and   w.work_start_time &gt;= #{workStartTime}
            </if>
            <if  test="workEndTime != null">
                and   (w.work_end_time &lt;= #{workEndTime} or w.work_end_time is NULL)
            </if>
            GROUP BY w.work_machinery_id
        </if>
        <if test="checkID == 1">
            select m.machinery_province,m.machinery_city,m.machinery_county,COUNT(w.work_machinery_id) as '农机数量',SUM(w.work_length) as '作业里程',SUM(w.work_area) as '作业面积'
            from  work w,machinery m,user u where w.work_machinery_id=m.machinery_id
            and u.user_id = m.machinery_owner and u.dept_id = #{deptId} and m.machinery_type = #{dictId}
            <if test="workStartTime != null">
                and  w.work_start_time &gt;= #{workStartTime}
            </if>
            <if  test="workEndTime != null">
                and  w.work_end_time &lt;= #{workEndTime}
            </if>
            GROUP BY m.machinery_county
        </if>
  </select>

    <select id="getAllByMachineryID" resultType="java.util.Map">
        select m.machinery_no,m.machinery_license,m.machinery_type, COUNT(w.work_machinery_id) as '农机数量',SUM(w.work_length) as '作业里程',SUM(w.work_area) as '作业面积'
        from  work w,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId}
        GROUP BY w.work_machinery_id
    </select>

    <select id="getStatsWookNum" resultType="java.util.Map">
        SELECT
        (select count(*)  from machinery m,user u where u.user_id=m.machinery_owner and u.dept_id = #{deptId}  and m.machinery_type = #{dictId}) as '农机总数量',
        (SELECT COUNT(*) from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId}  and m.machinery_type = #{dictId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')) as '今天作业数量',
        (SELECT COUNT(*)  from work w,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId}  and m.machinery_type = #{dictId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_SUB(curdate(),INTERVAL 1 DAY)) as '昨日作业数量',
        (SELECT SUM(work_area) from work w,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId}  and m.machinery_type = #{dictId}) as '作业总面积',
        (SELECT SUM(work_area) from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId}  and m.machinery_type = #{dictId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')) as'今天作业面积',
        (SELECT SUM(work_area)  from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId}  and m.machinery_type = #{dictId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_SUB(curdate(),INTERVAL 1 DAY)) as '昨日作业面积',
        (SELECT SUM(work_length)  from work w,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId}  and m.machinery_type = #{dictId}) as '作业总里程',
        (SELECT SUM(work_length)  from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId}  and m.machinery_type = #{dictId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')) as '今天作业里程',
        (SELECT SUM(work_length)  from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId}  and m.machinery_type = #{dictId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_SUB(curdate(),INTERVAL 1 DAY)) as '昨日作业里程';
        </select>

    <select id="getPastSeven" resultType="java.util.Map">
     select
    (SELECT SUM(work_area) from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_SUB(curdate(),INTERVAL 1 DAY)) as 'one',
    (SELECT SUM(work_area) from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_SUB(curdate(),INTERVAL 2 DAY)) as 'two',
    (SELECT SUM(work_area) from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_SUB(curdate(),INTERVAL 3 DAY)) as 'three',
    (SELECT SUM(work_area) from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_SUB(curdate(),INTERVAL 4 DAY)) as 'four',
    (SELECT SUM(work_area) from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_SUB(curdate(),INTERVAL 5 DAY)) as 'Fives',
    (SELECT SUM(work_area) from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_SUB(curdate(),INTERVAL 6 DAY)) as 'six',
    (SELECT SUM(work_area) from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and u.dept_id = #{deptId} and DATE_FORMAT(work_start_time,'%Y-%m-%d') = DATE_SUB(curdate(),INTERVAL 7 DAY)) as 'Seven';
    </select>


    <select id="getDecember" parameterType="String" resultType="java.util.Map">

            SELECT SUM(CASE WHEN MONTH(work_start_time) = 1 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) January,
            SUM(CASE WHEN MONTH(work_start_time) =2 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) February,
            SUM(CASE WHEN MONTH(work_start_time) =3 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) March,
            SUM(CASE WHEN MONTH(work_start_time) =4 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) April,
            SUM(CASE WHEN MONTH(work_start_time) =5 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) May,
            SUM(CASE WHEN MONTH(work_start_time) =6 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) June,
            SUM(CASE WHEN MONTH(work_start_time) =7 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) July,
            SUM(CASE WHEN MONTH(work_start_time) =8 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) August,
            SUM(CASE WHEN MONTH(work_start_time) =9 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) September,
            SUM(CASE WHEN MONTH(work_start_time) =10 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) October,
            SUM(CASE WHEN MONTH(work_start_time) =11 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) November,
            SUM(CASE WHEN MONTH(work_start_time) =12 and u.dept_id = #{deptId} and m.machinery_type = #{dictId} THEN work_area ELSE 0 END) December
            FROM work w ,machinery m,user u where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner
        <if test="time != null">
             and YEAR(work_start_time) = #{time}
        </if>
             GROUP BY YEAR(work_start_time)
    </select>


    <select id="getWorkBycounty"  resultType="map">
        SELECT work_id,m.machinery_village,SUM(work_area) as workArea,SUM(work_length) as workLength,SUM(confirm_area) as  confirmArea
        from work w ,machinery m,user u
        where w.work_machinery_id=m.machinery_id and u.user_id = m.machinery_owner and  m.machinery_city = #{county} and u.dept_id = #{deptId} and m.machinery_type = #{dictId}  GROUP BY m.machinery_village
    </select>

    <select id="getWorkByNo" parameterType="String" resultType="map">
       SELECT
        (SELECT machinery_owner from machinery  where machinery_id = work_machinery_id ) as userID,
        (select username from user where user_id in (SELECT machinery_owner from machinery  where machinery_id = work_machinery_id )) as name,SUM(work_area) as workArea,SUM(work_length) as workLength,SUM(confirm_area) as confirmArea from work where work_machinery_id in
        (SELECT machinery_id from machinery where machinery_no=#{machineryNO})  GROUP BY work_machinery_id
    </select>

    <select id="getWorkByvillage" parameterType="Integer" resultType="map">
        SELECT *,
        (SELECT machinery_no from machinery where machinery_id = work.work_machinery_id) as machineryNo,
        (select username from user where user_id in (SELECT machinery_owner from machinery  where machinery_id = work_machinery_id )) as userName,
		(select phone from user where user_id in (SELECT machinery_owner from machinery  where machinery_id = work_machinery_id )) as phone
		from work where
        province=(SELECT province from work where 	work_id = #{workID} ) and
        city=(SELECT city from work where 	work_id = #{workID}) and
        county=(SELECT county from work where 	work_id = #{workID}) and
        town=(SELECT town from work where 	work_id = #{workID}) and
        village=(SELECT village from work where 	work_id = #{workID})
    </select>

    <select id="getWorkByName" parameterType="Integer" resultType="map">
        SELECT *,(SELECT machinery_no from machinery where machinery_id = work.work_machinery_id) as machineryNo,
         (select username from user where user_id in (SELECT machinery_owner from machinery  where machinery_id = work_machinery_id )) as userName,
		(select phone from user where user_id in (SELECT machinery_owner from machinery  where machinery_id = work_machinery_id )) as phone
		 from work where work_machinery_id IN (SELECT machinery_id from machinery where machinery_owner = #{userID})</select>

    <select id="getByCounty" resultType="java.util.Map">
        SELECT COUNT(*) as count,machinery_county from
        machinery m,user u where  u.user_id = m.machinery_owner
        and u.dept_id = #{deptId} and m.machinery_type = #{dictId}
        GROUP BY machinery_county
        </select>
    <select id="longitudeAndLatitude" resultType="java.util.Map">
        SELECT machinery_no,machinery_imel,work_start_map,work_end_map FROM `work` w,machinery m,`user` u
        where w.work_machinery_id = m.machinery_id
        and m.machinery_owner = u.user_id
        and work_start_time IN
        (SELECT MAX(work_start_time) FROM `work` GROUP BY work_machinery_id)
        <if test="deptId != null">
            and u.dept_id = #{deptId}
        </if>
        <if test="dictId != null">
            and m.machinery_type = #{dictId}
        </if>
        GROUP BY work_machinery_id
    </select>
    <select id="everyday" resultType="java.util.Map">
        SELECT DAY(work_start_time),SUM(work_area) FROM `work` w,machinery m,`user` u
        WHERE w.work_machinery_id = m.machinery_id and u.user_id = m.machinery_owner
        <if test="deptId != null">
            and u.dept_id = #{deptId}
        </if>
        <if test="dictId != null">
            and m.machinery_type = #{dictId}
        </if>
        <if test="year != null">
            and YEAR(work_start_time) = #{year}
        </if>
        <if test="month != null">
            and MONTH(work_start_time) = #{month}
        </if>
        and YEAR(work_start_time) = 2020 and MONTH(work_start_time) =11
        GROUP BY DAY(work_start_time)
    </select>
</mapper>